.punainen {
    color:red;
}
.vihreä {
    color:green;
}
.sininen {
    color:blue;
}
.kulta {
    color:gold;
}
.kursi {
    font-size: large;
    font-weight: 200;
    font-style: oblique;
}